@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --white: #ffffff;
    --black-pearl: #020817;
    --dodger-blue: #3461ff;
    --catskill-white: #f1f5f9;
    --ghost-white: #f8fafc;
    --dark-jungle: #0f172a;
    --slate-gray: #64748b;
    --carmine-red: #ef4444;

    --background: var(--white);
    --foreground: var(--black-pearl);
    --card: var(--white);
    --card-foreground: var(--black-pearl);
    --popover: var(--white);
    --popover-foreground: var(--black-pearl);
    --primary: var(--dodger-blue);
    --primary-foreground: var(--ghost-white);
    --secondary: var(--catskill-white);
    --secondary-foreground: var(--dark-jungle);
    --muted: var(--catskill-white);
    --muted-foreground: var(--slate-gray);
    --accent: var(--catskill-white);
    --accent-foreground: var(--dark-jungle);
    --destructive: var(--carmine-red);
    --destructive-foreground: var(--ghost-white);
    --border: var(--catskill-white);
    --input: var(--catskill-white);
    --ring: var(--dodger-blue);
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
